<p>error-page works!</p>


<ul>
    <li>
        <a routerLink="/auth/login"> Ir a Login</a>
    </li>

    <li>
        <a routerLink="/auth/register">Ir a Registro</a>
    </li>

    <li>
        <a routerLink="/herois/agregar">Agregar</a>
    </li>

    <li>
        <a routerLink="/herois/editar/:id">Editar</a>
    </li>

    <li>
        <a routerLink="/herois/buscar">Buscar</a>
    </li>

    <li>
        <a routerLink="/herois/heroi">Heroi</a>
    </li>

    <li>
        <a routerLink="/herois/listar">Listar</a>
    </li>

</ul>

